@import url(variables.css);
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
.header{
    background: var(--color-primario);

    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.menu_izquierda{
    font-size: 1.5em;
    color: var(--color-secundario);
    display: flex;
    justify-content: center;
    padding-left: 10vw

}
.menu_derecha{

    display: flex;
    width: 30%;
    justify-content: space-evenly;
 
    
    font-size: 1.5em;

}
.menu_derecha a{
    color: var(--color-tercero);
    text-decoration: none;

}
/* primera pagina visual --------------------------------------------------------------------*/
.page1{

    width: 100%;
    height: 93vh;
    background: var(--color-primario);
}
.first_page{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}
.text{
    display: flex;
    justify-content: center;
    
    flex-direction:column ;
}

.text h1{
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    line-height: 4vw;
    color: var(--color-secundario);
    font-size: 6em;
    line-height: 6vw;
    letter-spacing: 0.5vh; 
}
.text h2{
    color: var(--color-tercero);
    font-size: 2em
    
}
button{
    margin-top: 2vw;
    height: 3vw;
    width: 10vw;
    font-size: 1.2em;
    background: var(--color-secundario);
    color: var(--color-tercero);
    
    
}
.burger img{
    width: 60vh; /* Define el ancho deseado */
    height: auto; 
}
/*second---------------------------------------------------------------------*/
.page2{

    width: 100%;
    height: 93vh;
    background: var(--color-primario);
}
.second_page{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}
.text2{
    display: flex;
    justify-content: center;
    flex-direction:column ;
    width: 35vw;
    
}

.text2 h1{
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    line-height: 4vw;
    color: var(--color-tercero);
    font-size: 5em;
    font-weight: 500;
    letter-spacing: 0.5vh; 
}
.text2 h3{
    color: var(--color-secundario);
    font-size: 1em
    
}

button{
    margin-top: 2vw;
    height: 3vw;
    width: 10vw;
    font-size: 1.2em;
    background: var(--color-secundario);
    color: var(--color-tercero);
    
    
    
}
.burrito img{
    width: 60vh; /* Define el ancho deseado */
    height: auto; 
}

