@import url(variables.css);
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
.header{
    background: var(--color-azuloscuro);

    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.menu_izquierda{
    font-size: 1.5em;
    color: var(--color-naranja);
    display: flex;
    justify-content: center;
    padding-left: 10vw

}
.menu_derecha{

    display: flex;
    width: 30%;
    justify-content: space-evenly;
 
    
    font-size: 1.5em;

}
.menu_derecha a{
    color: var(--color-blanco);
    text-decoration: none;

}
/* primera pagina visual --------------------------------------------------------------------*/
.page1{

    width: 100%;
    height: 93vh;
    background: var(--color-azuloscuro);
}
.first_page{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}
.text{
    display: flex;
    justify-content: center;
    
    flex-direction:column ;
}

.text h1{
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    line-height: 4vw;
    color: var(--color-naranja);
    font-size: 6em;
    line-height: 6vw;
    letter-spacing: 0.5vh; 
}
.text h2{
    color: var(--color-blanco);
    font-size: 2em
    
}
button{
    margin-top: 2vw;
    height: 3vw;
    width: 10vw;
    font-size: 1.2em;
    background: var(--color-naranja);
    color: var(--color-blanco);
    border: none;
    
    
}
.burger img{
    width: 60vh; /* Define el ancho deseado */
    height: auto; 
}
/*second---------------------------------------------------------------------*/
.page2{

    width: 100%;
    height: 93vh;
    background: var(--color-azuloscuro);
}
.second_page{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}
.text2{
    display: flex;
    justify-content: center;
    flex-direction:column ;
    width: 35vw;
    
}

.text2 h1{
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    line-height: 4vw;
    color: var(--color-blanco);
    font-size: 5em;
    font-weight: 500;
    letter-spacing: 0.5vh; 
}
.text2 h3{
    color: var(--color-naranja);
    font-size: 1em;
    
}
.text2 h2{
    margin-top: 2vw;
    color: var(--color-blanco);
}
button{
    margin-top: 2vw;
    height: 3vw;
    width: 10vw;
    font-size: 1.2em;
    background: var(--color-naranja);
    color: var(--color-blanco);
    
    
    
}
.burrito img{
    width: 60vh; /* Define el ancho deseado */
    height: auto; 
}
/*tercera pagina------------------------------------------------------------------------------*/

.page3{

    width: 100%;
    height: 93vh;
    background: var(--color-azuloscuro);
}

.menu_opciones_food{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
.text3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text3 h3{
    /*amarillo*/
    color: var(--color-naranja);
    font-size: 1vw;
}
.text3 h1{
    /*blanca*/
    color: var(--color-blanco);
    font-size: 3vw;
    padding-top:2vh ;
    padding-bottom: 3vh;
    margin-bottom: 5vh;
}

.img1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-blanco);
    border-radius: 15px;
    width: 20vw;

}
.img2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-blanco);
    border-radius: 15px;
    width: 20vw;
}
.img3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-blanco);
    border-radius: 15px;
    width: 20vw;
}
.img1_1{
    width: 300px;

    
}
.img1_2{
    width: 300px;
    
}
.img1_3{
    width: 300px;
    
}

.menu_opciones_food h2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menu_opciones_food h4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0.7vh;

}
.precious{
    color: var(--color-naranja);
    margin-top: 0.7vh;
}
/*cuarta pagina -----------------------------------------------------------------------------*/
.page4{

    width: 100%;
    height: 93vh;
    background: var(--color-azuloscuro);
}

.menu_opciones_envio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
.text4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text4 h3{
    /*amarillo*/
    color: var(--color-naranja);
    font-size: 1vw;
}
.text4 h1{
    /*blanca*/
    color: var(--color-blanco);
    font-size: 3vw;
    padding-top:2vh ;
    padding-bottom: 3vh;
    margin-bottom: 5vh;
}

.img4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;

}
.img5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
}
.img6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    ;
}
.img1_1{
    width: 300px;

    
}
.img1_2{
    width: 300px;
    
}
.img1_3{
    width: 300px;
    
}

.menu_opciones_envio h2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-naranja);
}
.menu_opciones_envio h4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--color-blanco)

}
/*quinta pagina-------------------------------------------------------*/
.page5{

    width: 100%;
    height: 93vh;
    background: var(--color-azuloscuro);
}

.quinta_pagina{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--color-blanco);
    height: 50vh;
    width: 80vw;
    margin: auto;
}
.quinta_pagina h1{
    font-size: 3vw;
    padding-top:2vh ;
}
.quinta_pagina button{
    margin-top: 3vw;
}