<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><Canvas>CampusShop</Canvas></title>
    <link rel="stylesheet" href="../css/abrigos.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="js/main.js"></script>
</head>
<body>
    <header>
        <div class="titulo">
            <div class="icono">
                <i class='bx bx-shopping-bag'></i>
            </div>
            <h1>CampusShop</h1>

        </div>
        <nav class="categorias" id="menu">
            <ul>
                <li class="home">
                    <i class='bx bx-closet'></i>
                    <a href="../index.html">Todos los productos</a>
                </li>
                <li class="abrigo_menu">
                    <img src="/storage/img/abrigo_icono.png" alt="">
                    <a href="abrigos.html">Abrigos</a>
                </li>
                <li>
                    <img src="/storage/img/icono_camiseta.png" alt="">
                    <a href="camisetas.html">Camisetas</a>
                </li>
                <li>
                    <img src="../storage/img/icono_pantalones.png" alt="">
                    <a href="pantalones.html">Pantalones</a>
                </li>
            </ul>
        </nav>
        <nav class="carritos" id="menu">
            <i class='bx bxs-cart'></i>
            <a href="carritos.html">Carritos</a>
            <button id="contador">0</button>
        </nav>
        <nav class="copy" id="menu">
            <i class='bx bx-copyright'></i>
            <a href="#">2024 @Camper</a>
        </nav>
        </div>
        


    </header>

    <main>
        <div class="todos_los_productos">
            <h1>Abrigos</h1>

        </div>
        <div class="main">
            <div class="item01">
                <img src="../storage/img/abrigo01.png">
                <div class="container">
                    <p>Abrigo Gris</p>
                    <div>
                        $59.99  
                        <button>agregar</button>
                        
                    </div>
                </div>
            </div>
            <div class="item02">
                <img src="../storage/img/abrigo02.png">
                <div class="container">
                    <p>Abrigo Negro</p>
                    <div>
                        $59.99  
                        <button>agregar</button>
                        
                    </div>
                </div>
            </div>
            <div class="item03">
                <img src="../storage/img/abrigo03.png">
                <div class="container">
                    <p>Abrigo Rey Nordico</p>
                    <div>
                        $99.99  
                        <button>agregar</button>
                        
                    </div>
                </div>
            </div>
            

                        
                    </div>
                </div>
            </div>
            
    </main>
</body>
</html>